<div id="profiledatadiv" *ngIf="profileData" style="display:block;overflow:auto;" class="">
  <div *ngIf="showPhoto" class="float-left h-100">
    <div class="mr-3 d-inline-block" style="height:50px;width:50px;border-radius:50%;overflow:hidden;">
      <img class="" style="width:50px;height:auto;" src="{{ media_xs + '/' + profileData.photo }}">
    </div>
  </div>
  <div id="textdiv" class="d-inline-block align-middle">
    <h6 class="m-0">
      <a *ngIf="profileData.username" href="{{ MASK }}/{{profileData.username}}">{{ profileData.full_name }}</a>
      <a *ngIf="!profileData.username">{{ profileData.full_name }}</a>
    </h6>
    <div *ngFor="let element of fields"><small *ngIf="profileData[element]">{{profileData[element]}}<br></small></div>
    <a *ngIf="showEmail" class="m-0" href="mailto:{{ profileData.email }}">
      {{ profileData.email }}
    </a>
  </div>
</div>
