<!-- featureds -->
<div *ngIf="scrollType == 'featureds'">
  <div class="card-columns row">
    <div *ngFor="let featured of requestData" class="card p-4 text-center col-3">
      <div class="card-block">
        <h4 class="card-title"><a href="featured.url">{{featured['title']}}</a></h4>
        <p class="card-text">{{featured['description']}}</p>
      </div>
      <hr />
      <div class="card-block">
        <p>{{featured['author']}}</p>
        <p>{{featured['created']}}</p>
      </div>
    </div>
  </div>
</div>

<!-- categories -->
<div *ngIf="scrollType == 'categories'">
  <div class="card-columns row">
    <div *ngFor="let category of requestData" class="card p-4 text-center col-3">
      <div class="card-block">
        <h4 class="card-title"><a href="search">{{category['category']}}</a></h4>
        <p class="card-text">{{category['description']}}</p>
      </div>
    </div>
  </div>
</div>

<!-- departments -->
<div *ngIf="scrollType == 'departments'">
  <div class="card-columns row">
    <div *ngFor="let department of requestData" class="card p-4 text-center col-3">
      <div class="card-block">
        <h4 class="card-title"><a href="search">{{department['department']}}</a></h4>
        <p class="card-text">{{department['description']}}</p>
      </div>
    </div>
  </div>
</div>

<!-- events -->
<div *ngIf="scrollType == 'events'">
  <div class="card-columns row">
    <div *ngFor="let event of requestData" class="card p-4 text-center col-3">
      <div class="card-block">
        <h4 class="card-title"><a href="event.url">{{event['title']}}</a></h4>
        <p class="card-text">{{event['description']}}</p>
      </div>
      <hr />
      <div class="card-block">
        <p>{{event['author']}}</p>
        <p>{{event['created']}}</p>
      </div>
    </div>
  </div>
</div>
