<div class="navbar navbar-dark sticky-top navbar-expand">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="nav-links" class="navbar-nav text-xs-center mr-auto">
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/']"> Directory</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/search']"> Search</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/collegian']"> Collegian</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/events']"> Events</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/departments']"> Departments</a>
      </li>
    </ul>
  </div>
</div>
