<div *ngIf="page" class="container-fluid p-0">
  <div class="w-100" style="height:15rem;"> <!-- TITLE SECTION -->
    <h1 class="text-center text-light text-uppercase m-0" style="line-height:15rem;">
      {{ page.title }}
    </h1>
  </div>
  
  <div id="content" class=" container"> <!-- CONTENT SECTION -->
    {{ loadContent() }}
  </div>

  <div class="w-100 " style="height:15rem;"> <!-- CONTENT FOOTER SECTION -->
    <h1 class="text-center m-0" style="line-height:15rem;"></h1>
  </div>

  <div class="container pl-md-5 pr-md-5" style="height:5rem;"> <!-- AUTHOR SECTION -->
    <div class="row h-100">
      <div class="col col-md-1 offset-md-3 align-middle"><div class="mx-auto" style="height:50px;width:50px;border-style:solid;border-color:black;border-radius:50%;"> <!-- AUTHOR'S IMAGE--> </div></div>
      <div class="col col-md-5"><p> --- is the author of this page</p></div>
    </div>
  </div>
  
</div>

