<div *ngIf="admin" class="container-fluid">
  <div>
    <ul>
      <li *ngFor="let page of admin">
        <h3>{{ page.title }}</h3>
        <ul>
          <li>category: {{ page.category }}</li>
          <li>owner: {{ page.owner }}</li>
          <li>department: {{ page.department }}</li>
          <li>description: {{ page.description }}</li>
          <li>url: <a href="/page/{{ page.url }}">/page/{{ page.url }}</a></li>
          <li>created: {{ page.created }}</li>
          <li>tags: {{ page.tags }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

