<div class="container-fluid">
  <table *ngIf="admin"  class="table table-sm table-striped mt-3">
    <thead class="thead-dark"><tr>
      <th>Title</th>
      <th>Category</th>
      <th>Department</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Owner</th>
      <th>Created</th>
    </tr></thead>
    <tbody><tr *ngFor="let page of admin">
      <td title="{{ page.title }}"><a href="/page/{{ page.url }}">{{ shorten(page.title) }}</a></td>
      <td>{{ page.category }}</td>
      <td>{{ page.department }}</td>
      <td title="{{ page.description }}">{{ shorten(page.description) }}</td>
      <td title="{{ page.tags.toString() }}">{{ page.tags }}</td>
      <td>{{ page.owner }}</td>
      <td title="{{ page.created }}">{{ page.created.slice(0, 10) }}</td>
    </tr></tbody>
  </table>
  <div class="row mx-auto mb-3">
      <button (click)="createNew()" class="btn btn-primary">Create New Page</button>
  </div>
</div>