<div *ngIf="admin" class="container-fluid">
  <table class="table table-sm table-striped mt-3">
    <thead class="thead-dark"><tr>
      <th>Title</th>
      <th>Category</th>
      <th>Department</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Owner</th>
      <th>Created</th>
    </tr></thead>
    <tbody><tr *ngFor="let page of admin">
      <td><a href="/page/{{ page.url }}">{{ shorten(page.title) }}</a></td>
      <td>{{ page.category }}</td>
      <td>{{ page.department }}</td>
      <td>{{ shorten(page.description) }}</td>
      <td>{{ page.tags }}</td>
      <td>{{ page.owner }}</td>
      <td>{{ page.created.slice(0, 10) }}</td>
    </tr></tbody>
  </table>
<p> admin component is working </p>
