<div class="card-columns row">
  <div *ngFor="let page of requestData" class="card p-4 text-center col-3">
    <!-- content -->
    <div class="card-block">
      <h4 class="card-title"><a routerLink ="{{page.url}}">{{page['title']}}</a></h4>
      <p class="card-text">{{page['description']}}</p>
    </div>
    <!-- metadata -->
    <!-- TODO: not working -->
    <div *ngIf="showMeta == true" class="card-block">
      <hr />
      <p>{{page['author']}}</p>
      <p>{{page['created']}}</p>
    </div>
  </div>
</div>
