<div class="container">
  <div class="row">
    <page class="col" requestURL="{{revisionURL}}"></page>
    <div class="col">
      <div *ngFor="let revision of revisions">
        <i *ngIf="(revision.id == loadedID) || (revision.current && currentSelected)" class="fas fa-arrow-right"></i>
        <button *ngIf="!revision.current" (click)="loadRevision(revision.id)">{{getDateTime(revision.last_updated)}}</button>
        <button *ngIf="revision.current" (click)="loadRevision(null)">Current</button>
      </div>
    </div>
  </div>
  <button (click)="restoreRevision()" [disabled]="currentSelected">Restore</button>
</div>
