<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 text-center">
      <h1>Edit Page</h1>
    </div>
  </div>

  <!-- Input -->
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input [(ngModel)]="page.title" type="text" class="form-control" id="title">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="isVisible">Visibility</label>
        <select class="form-control" [(ngModel)]="page.is_visible" id="isVisible">
          <option [ngValue]="false">Hidden (Not Published)</option>
          <option [ngValue]="true">Visible (Published)</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="Owner">Owner</label>
        <input [(ngModel)]="page.owner" list="users" class="form-control" id="Owner">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="author">Displayed Author</label>
        <input [(ngModel)]="page.author" list="users" type="text" class="form-control" id="author">
        <datalist id="users">
          <option *ngFor="let user of allUsers" [value]="user.username" >
            {{user.full_name}}
          </option>
        </datalist>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="Editor">Editor(s)</label>
        <tag-input
          [(ngModel)]='editors'
          theme='bootstrap'
          modelAsStrings="true"
          placeholder="+ Editor"
          secondaryPlaceholder="Add an Editor">
            <tag-input-dropdown [autocompleteItems]="allUsers">
            </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="tags">Tags</label>
        <tag-input
          [(ngModel)]='page.tags'
          theme='bootstrap'
          modelAsStrings='true'>
            <tag-input-dropdown [autocompleteItems]="allTags">
            </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="Department">Department</label>
        <select class="form-control"[(ngModel)]="page.department">
          <option *ngFor="let c of departments" [ngValue]="c.department">{{c.department}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control"[(ngModel)]="page.category" id="category">
          <option *ngFor="let c of categories" [ngValue]="c.category">{{c.category}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
      <label for="coverImage">Cover Image</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" accept="image/*" (change)="imageHandler($event)" id="coverImage">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="page.description" type="text" class="form-control" rows="1" id="description"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="coverImagePreview" class="ml-3 mr-3 rounded mb-3">
      <img *ngIf="page.cover_image" class="img-fluid" src="{{getCoverImage(page.cover_image, MEDIA_URI)}}" />
    </div>
  </div>

<!-- Froala Editor -->
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div [(ngModel)]="page.content" [froalaEditor]="options"></div>
    </div>
  </div>


  <!-- Buttons -->
  <div class="row">
    <div class="col-sm-12 w-100 mb-3">
      <a [routerLink]="['/admin/edit', page.url, 'revisions']" class="btn btn-light">Revisions</a>
      <div class="btn-group float-right" role="group" aria-label="Save Options">
        <button type="button" (click)="save(undefined)" class="btn btn-light">Save</button>
        <button type="button" (click)="preview()" class="btn btn-success ">Save & Preview</button>
      </div>
    </div>
  </div>
</div>
