#coverImagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 150px;
    border-radius: 50%;
}
#coverImagePreview img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
